# DOCUMENT YOUR REQUIRED ENV VARIABLES HERE
# SUPER_SECRET_KEY="abc123"

AWS_ACCESS_KEY_ID=AKIAIVEXPGSFOQGUUKWA
AWS_SECRET_ACCESS_KEY=4bth1nsqWIdbebpMrDXRkSZ5hFnjWEM5McpGTvoe 
s3_BUCKET=fgc-dictionary-production
