<div class="box">
  <% @games.each do |game| %>
  <div class="text">
    <div class="ryu">
      <p>
        <%=link_to game.name, game_path(game)%>
      </p>
    </div>
  <% end %>
  <div class="ryu">
    <%= link_to "Add game", new_game_path %>
  </div>
</div>

</div>
