<div class="box">
  <% @characters.each do |character| %>
  <div class="text">
    <div class="ryu">
      <p>
        <%=link_to character.name, character_path(character)%>
      </p>
    </div>
  </div>
  <% end %>
</div>
