
<div class="box">
  <div class="text">
    <h1>A NEW CHALLENGER APPROACHES</h1>
      <div class="ryu">
          <p><%= link_to "games", games_path%></p>
      </div>
      <div class="ryu">
        <p><%= link_to "characters",characters_path %></p>
      </div>
      <div class="ryu">
        <p>  <%= link_to "vocabulary", vocabularies_path %></p>
      </div>
  </div>
</div>
