
<div class="box">
  <div class="text">
    <% @vocabularies.each do |vocabulary| %>
      <div class='removelinkdefault'>
        <div class='ryu'>
          <p>
            <%=link_to vocabulary.word, vocabulary_path(vocabulary)%>
          </p>
        </div>
          <% end %>
      </div>
  </div>
</div>
