body {
  background-image: url('mvc2_roster_750.jpg');
  background-position: center
  background-repeat: no-repeat
  background-size: cover;
}

.box{
  background: #ffffff;
    height: 100%;
    opacity: 0.92;
    position: absolute;
    width: 50%;
}
